<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <a href="/">Go Home</a>
    <%- include("partials/errors.ejs") %>
    <form method="POST" action="/new/category">
      <header>
        <h1>Create New Category</h1>
      </header>
      <main>
        <section>
          <div class="input-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Category Name"
            />
          </div>
          <button type="submit" class="btn">Submit</button>
        </section>
      </main>
    </form>
  </body>
</html>
