a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.container {
  margin-inline: auto;
  max-width: 1024px;
}
