*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --color-bg-light: #efd6ac;
  --color-bg-dark: #04151f;
  --color-text-main: #04151f;
  --color-text-light: #efd6ac;
  --color-primary: #183a37;
  --color-accent-1: #c44900;
  --color-accent-2: #432534;
  --color-surface-light: #fcf6ec;
  --color-surface-dark: #0b2536;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: "Quantico", sans-serif;
  line-height: 1.1em;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-1);
}

ul {
  list-style-type: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

textarea {
  field-sizing: content;
  max-width: 65ch;
}

.row {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.container {
  margin-inline: auto;
  max-width: 1024px;
}

.card {
  background-color: var(--color-surface-light);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 1rem 2rem;
  transition: 0.3s transform;
  width: fit-content;

  a:hover {
    color: unset;
  }
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.01);
}

.category-list {
  display: flex;
  gap: 1rem;
}

.category-list__item {
  font-weight: 600;
  min-width: 0;
}
.item-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-list__item {
  max-width: 500px;
}

.item__description {
  max-width: 65ch;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Change this number to limit lines */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hides the remaining text */
}

#item-details {
  .item__description {
    -webkit-line-clamp: unset; /* Change this number to limit lines */
    line-clamp: unset;
  }
}

@media (min-width: 768px) {
  .item-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
