<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
    <style>
        .item__description {
            max-width: 65ch;
            display: -webkit-box;
            -webkit-line-clamp: 3;    /* Change this number to limit lines */
            line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;         /* Hides the remaining text */
        }
    </style>
  </head>
  <body>
    <a href="/">Go Home</a>
    <%- include("./items/item.ejs", {item: item}) %>
  </body>
  </html>   